---
layout: base.njk
title: Northstowe Karate Club - Traditional JKA Shotokan Karate
description: We teach traditional Japanese Shotokan Karate to both children aged 6+ and adults. Your first lesson is always free. We train every Wednesday at 1830.
---
<h1>Northstowe Karate Club</h1>
<p>
Our club teaches traditional <a href="https://en.wikipedia.org/wiki/Shotokan">Shotokan Karate</a>, a Japanese martial art. We are are a member of <a href="https://maps.app.goo.gl/CMxjFnhDTKZ8YbDB6">Japan Shotokan Karate England</a> and are affiliated with the <a href="https://www.jka.or.jp/en">Japan Karate Association</a> which is one of the largest and most prestigous karate organisations in the world. 
</p>
<p>We're based in Northstowe, on the outskirts of Cambridge. We're a family friendly club, where children (6+) and adults can both train together. We have <a href="/training">regular sessions</a> on Wednesday evenings from 1830-1930. 
</p>

<p>Your first lesson is always free, and after that you <a href="/training/fees">pay per session</a>. To book your first class please <a href="/contact/">get in touch</a>. Please arrive 5 minutes early for your first session so you can be registered.
</p>

<p>
Although no two lessons are the same, our <a href="/training/whattoexpect">lesson format</a> is usually structured around kihon (basic techniques), kumite (sparring) and kata (forms). We build up your confidence gradually. We're a non-contact club and you won't be expected to fight until you've learnt the basics and even then it's under controlled conditions with known attacks and blocks until you're very experienced. Injuries are rare - please speak to the instructor if you have any concerns.
</p>

<p>
Karate has any <a href="/whykarate">benefits</a>. While learning to defend yourself you'll gain fitness and beome healthier. You'll also become more confident and it's a great place to make friends.
</p>

<p>Simon Apen-Sadler, the chief <a href="/instructors">instructor</a>, has over 20 years experience. He is a 4th dan black belt, is first aid qualified and has a fully enhanced DBS check.

<p>
For more information and updates check us out on
<a href="https://www.facebook.com/profile.php?id=61560001297561">Facebook</a>
and
<a href="https://www.instagram.com/northstowekarate">Instagram</a>
</p>
