---
layout: base.njk
title: "Northstowe Karate Club - Martial Arts near Cambridge"
description: "Learn effective martial arts with expert instructors at Northstowe Karate Club. Located near Cambridge, we teach shotokan karate, a traditional martial art."
date: "git Last Modified"
priority: 1.0
changeFrequency: monthly
---
<h1 class="py-1">Northstowe Karate Club</h1>
<h2>Welcome to Northstowe Karate Club</h2>
<p>
At Northstowe Karate Club, we are committed to teaching traditional Shotokan Karate in a supportive and friendly environment. Whether you are a beginner or an experienced practitioner, our club offers a place for everyone to learn, grow, and achieve their personal best.
</p>

<h2>About the club</h2>
<p>
Our club teaches traditional <a href="https://en.wikipedia.org/wiki/Shotokan">Shotokan Karate</a>, a Japanese martial art, in Northstowe on the outskirts of Cambridge. We are a member of <a href="https://jske.co.uk">Japan Shotokan Karate England</a> and are affiliated with the <a href="https://www.jka.or.jp/en/">Japan Karate Association</a>, which is one of the largest and most prestigious karate organisations in the world.
</p>
<h2>Training</h2>
<p>
We're a family friendly club, where children (8+) and adults can both train together. We will consider students aged 6-7 on a case-by-case basis. Regular <a href="/training/">training sessions</a> are held on Wednesday evenings from 1830-1930 at <a href="https://maps.app.goo.gl/CMxjFnhDTKZ8YbDB6">The Cabin</a>. We recommend young children train alongside their parent/guardian for the first few lessons while they gain confidence in the unfamiliar environment.
</p>
  <img src="soto-uke.webp" alt="Students performing soto-uke, led by instructor Simon Apen-Sadler" class="img-fluid" loading="eager" eleventy:widths="100,200,600">
<h2>What to expect</h2>
<p>
Although no two lessons are the same, our <a href="/training/whattoexpect/">lesson format</a> is usually structured around kihon (basic techniques), kumite (sparring) and kata (forms). We build up your confidence gradually. We're a non-contact club, and you won't be expected to fight until you've learnt the basics, and even then it's under controlled conditions with known attacks and blocks until you're very experienced. Injuries are rare - please speak to the instructor if you have any concerns. There is an element of risk to all sports and exercise, including martial arts - please see our <a href="/policies/risk/">assumption of risk document</a> for details.
</p>
<img src="end-of-class.webp" alt="Students at the end of one of our classes" class="img-fluid" eleventy:widths="200,600">

<h2>Club Awards</h2>
<p>As part of our commitment to excellence and quality, Northstowe Karate Club has attained the <a href="https://bmaba.org.uk">BMABA</a> Club Colours Award. You can verify the club's status at the <a href="https://bmaba.org.uk/verify/martial-arts-club-checker/">BMABA website</a>. BMABA Club Colours is the UK Martial Arts’ highest level of accreditation in terms of vetting and regulation. As part of this, we have also been awarded the <a href="https://www.safeguardingcode.com/">Safeguarding Code in Martial Arts</a> by demonstrating our commitment to safeguarding of our students, ensuring best practices are in place.</p>

<h2>Benefits of Karate</h2>
<p>
Karate has many <a href="/whykarate/">benefits</a>. While learning to defend yourself, you'll gain fitness and become healthier. You'll also become more confident, and it's a great place to make friends.
</p>

<h2>Fees</h2>
<p>
Your first lesson is always free, and after that you <a href="/training/fees/">pay per session</a>. To book your first class, please <a href="/contact/">get in touch</a>. Please arrive 5 minutes early for your first session so you can be registered. To train regularly, you will also need to purchase an annual membership.
</p>

<h2>Chief Instructor</h2>
<p>Simon Apen-Sadler, the chief <a href="/instructors/">instructor</a>, has over 20 years experience. He is a 4th dan black belt, is first aid qualified and has a fully enhanced DBS check.

<h2>Social media</h2>
<p>
For more information and updates, check us out on
<a href="https://www.facebook.com/profile.php?id=61560001297561">Facebook</a>
and
<a href="https://www.instagram.com/northstowekarate">Instagram</a>
</p>

