---
layout: base.njk
title: Northstowe Karate Club - Traditional JKA Shotokan Karate
description: We teach traditional Japanese Shotokan Karate to both children aged 6+ and adults. Your first lesson is always free. We train every Wednesday at 1830.
---
<h1>Northstowe Karate Club</h1>
<p>
Northstowe Karate Club teach traditional Shotokan Karate and are a member of the <a href="https://jka.or.jp/en">Japan Karate Association</a>. We're a family friendly club, where children (6+) and adults can both train together. Our <a href="/training">training schedule</a> details when and where we train. Although no two lessons are the same, our <a href="/training/whattoexpect">lesson format</a> is usually structured around kihon (basic techniques), kumite(sparring) and kata(forms). 
</p>

<p>Your first lesson is always free! To book your first class please <a href="/contact/">get in touch</a>. Please arrive 5 minutes early for your first session so you can be registered.
</p>

<p>
Our <a href="/training/whattoexpect">what to expect</a> page details what we do when training. Karate consists of the 3K's - Kihon (basics), Kata (forms) and Kumite (sparring). We practice each of these regularly.
</p>

<p>
For more information and updates check us out on
<a href="https://www.facebook.com/profile.php?id=61560001297561">Facebook</a>
and
<a href="https://www.instagram.com/northstowekarate">Instagram</a>
</p>
