---
layout: base.njk
title: Northstowe Karate Club Contact Details
description: Contact us via email at info@northstowekarate.com if you have any questions regaring Northstowe Karate Club. We're also on facebook and instagram.
---
<h2>Contact</h2>
If you have any questions or would like to register interest/join please contact us via <a href="mailto:info@northstowekarate.com">email</a> or reach out to us on <a href="https://www.facebook.com/profile.php?id=61560001297561">Facebook</a> or <a href="https://www.instagram.com/northstowekarate">Instagram</a>. You can also context us via phone on <a href="tel:07596922670">07596922670</a>, although you'll get a faster response via other methods.
