---
title: Northstowe Karate Club
description:
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Northstowe Karate, Northstowe Karate Club, Karate, Northstowe, Shotokan, Cambridge, Children's Karate, Kid's Karate, Martial Arts Club, Martial Arts">
    {% if description %}
    <meta name="description" content="{{ description }}">
    {% else %}
    <meta name="description" content="{{ title }}">
    {% endif %}

    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <title>{{ title }}</title>
    <style>
      img.general-large {
        width: 100%;
        height: 100%;
        padding: 5px;
      }
      img.instructor-simon {
        max-width: 30vw;
        height: auto;
        float: left;
        padding: 5px;
      }
      div#page-content {
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
        padding: 10px
      }
      @media (max-width: 479px) {
        div#page-content {
          max-width: 100vw;
          margin-left: auto;
          margin-right: auto;
        }
      }
    </style>
  </head>
  <body>
    <h1 class="display-1 d-flex justify-content-center">Northstowe Karate Club</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/why_karate">Why Karate?</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Training
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/training">When and Where</a></li>
              <li><a class="dropdown-item" href="/training/whattoexpect">What to expect</a></li>
              <li><a class="dropdown-item" href="/training/fees">Fees</a></li>
              <li><a class="dropdown-item" href="/training/faq">FAQs</a></li>
            </ul>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/training">Training Details</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dojokun">Dojo Kun</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/instructors">Instructors</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Policies and Documents 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/policies/risk">Assumption of Risk Document</a></li>
              <li><a class="dropdown-item" href="/policies/clubrules">Club Rules</a></li>
              <li><a class="dropdown-item" href="/policies/complaints">Complaints</a></li>
              <li><a class="dropdown-item" href="/policies/healthandsafety">Health and Safety Document</a></li>
              <li><a class="dropdown-item" href="/static/nkc-risk-assessment.pdf">Risk Assessment</a></li>
              <li><a class="dropdown-item" href="/policies/privacy">Privacy and Data Protection Policy</a></li>
              <li><a class="dropdown-item" href="/policies/parentalstandards">Parental Standards Policy</a></li>
              <li><a class="dropdown-item" href="/policies/photography">Photography and Video Policy</a></li>
              <li><a class="dropdown-item" href="/policies/socialmedia">Social Media Policy</a></li>
              <li><hr class="dropdown-divider">Safeguarding</li>
              <li><a class="dropdown-item" href="/policies/safeguarding">Safeguarding Statement</a></li>
              <li><a class="dropdown-item" href="/policies/safeguarding/policy">Safeguarding Policy</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-content" class="justify-content-center">
    {{ content | safe }}
    </div>
    <script src="/static/bootstrap.bundle.min.js"></script>
  </body>
</html>
