---
title: Northstowe Karate Club
description:
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" name="title" content="Northstowe Karate Club | {{ title }}">
    {% if description %}
    <meta property="og:description" name="description" content="{{ description }}">
    {% else %}
    <meta name="description" content="Northstowe Karate Club | {{ title }}">
    <meta property="og:description" name="title" content="{{ title }}">
    {% endif %}
    <link href="/static/bootstrap-5.3.3.min.css" rel="stylesheet">
    <link href="/customstyles/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="canonical" href="https://www.northstowekarate.com{{ page.url }}">
    <title>Northstowe Karate Club | {{ title }}</title>
  </head>
  <body>
    <div class="display-1 d-flex justify-content-center">Northstowe Karate Club</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Training
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/training/">Training Details</a></li>
              <li><a class="dropdown-item" href="/training/whattoexpect/">What to expect</a></li>
              <li><a class="dropdown-item" href="/training/fees/">Fees</a></li>
              <li><a class="dropdown-item" href="/training/faq/">FAQs</a></li>
            </ul>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/whykarate/">Why Karate?</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/instructors/">Instructors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/">Blog</a>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Shotokan
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/dojokun/">Dojo Kun (Rules)</a></li>
              <li><a class="dropdown-item" href="/etiquette/">Etiquette</a></li>
              <li><a class="dropdown-item" href="/kyu-syllabus/">Kyu Grading Syllabus</a></li>
              <li><a class="dropdown-item" href="/terminology/">Terminology</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Policies and Documents
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/static/NKC-Constitution.pdf">Club Constitution</a></li>
              <li><a class="dropdown-item" href="/policies/risk/">Assumption of Risk Document</a></li>
              <li><a class="dropdown-item" href="/policies/clubrules/">Club Rules</a></li>
              <li><a class="dropdown-item" href="/policies/complaints/">Complaints</a></li>
              <li><a class="dropdown-item" href="/policies/healthandsafety/">Health and Safety Document</a></li>
              <li><a class="dropdown-item" href="/static/nkc-risk-assessment.pdf">Risk Assessment</a></li>
              <li><a class="dropdown-item" href="/policies/privacy/">Privacy and Data Protection Policy</a></li>
              <li><a class="dropdown-item" href="/policies/parentalstandards/">Parental Standards Policy</a></li>
              <li><a class="dropdown-item" href="/policies/photography/">Photography and Video Policy</a></li>
              <li><a class="dropdown-item" href="/policies/socialmedia/">Social Media Policy</a></li>
              <li><a class="dropdown-item" href="/policies/equality/">Equal Opportunity Policy</a></li>
              <li><hr class="dropdown-divider">Safeguarding</li>
              <li><a class="dropdown-item" href="/policies/safeguarding/">Safeguarding Statement</a></li>
              <li><a class="dropdown-item" href="/policies/safeguarding/policy/">Safeguarding Policy</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-content" class="justify-content-center">
    {{ content | safe }}
    </div>
  <script src="/static/bootstrap-5.3.3.bundle.min.js"></script>
  </body>
</html>
