---
layout: base.njk
title: 4th Session training details
description: Our highest turnout so far - 14. We covered stepping punch and rising, outside and lower blocks. We then practiced front kick end ended with kihon kata.
date: 2024-07-24
tags:
- lesson-summary
---
<h1>Northstowe Karate Club 4th Session Summary</h1>

<p>
Thank you to all who attended tonight's session. A big turnout - 14 in total! I hope you enjoyed the session.
</p>

<p>
We covered lots of techniques tonight, practicing them on the spot at first and then stepping forwards. Oi-zuki (stepping punch), rising block (age-uke), outside block (soto-uke), lower sweep (gedan barai) and front kick (mae-geri). We finally went through the first kata kihon kata which is sometimes called taikyoku shodan. We did cover a lot but will be repeating these techniques often. I hope to see you all next week!
</p>
