---
layout: base.njk
title: We're running a 10 Week Karate Course  
description: Northstowe Karate Club are running a 10 week course starting Wednesday 3rd July, teaching traditional Shotokan Karate at The Cabin, Northstowe.
date: 2024-06-10
---
<h2>Northstowe Karate Club 10 Week Course</h2>
<p>
We're excited to announce Northstowe Karate Club will be opening on Wednesday 3rd July, running a 10 week karate Course.
</p>
{% image "posts/2024/06/10/northstowekarateclub-course.jpg", "Training course details - starts Wednesday 3rd July, 1830-1930. Age 6+", "general-large" %}
<p>
We teach both children (6+) as well as adults. The club teaches traditional Japanese Shotokan Karate. You can attend as many lessons as you like, but we recommend attending as many as possible, so that you are able to get a good idea of what Shotokan Karate is.
</p>

<p>
The first lesson is always free. After that prices are  lesson £4 for adults / £3 for children per session. We also offer a bulk introductory offer to buy 9 lessons for the price of 7. Additionally we offer a family discount with up to 2 children free for every adult that trains.
</p>
