---
title: Dojo Kun (Rules of the Dojo) | Northstowe Karate Club 
layout: base.njk
description: Five rules of the dojo created by Gichin Funakoshi, the founder of Shotokan Karate. Perfect character; Be sincere; Endeavour; Respect others; Self-Control.
---
<h1>The Dojo Kun - Rules of the Dojo</h1>
  <p>The dojo kun are five guiding principles that serve as a moral compass for martial artists, both inside and outside the dojo. These precepts are deeply rooted in the philosophy of martial arts and aim to cultivate a well-rounded character. Here they are in both Japanese and their approximate translations:</p>
  <ul>
    <li>Hitotsu, Jinkaku kansei ni tsutomuru koto - Seek perfection of character</li>
    <li>Hitotsu, Makoto no michi o mamoru koto - Be faithful</li>
    <li>Hitotsu, Doryoku no seishin o yashinau koto - Put maximum effort into everything you do</li>
    <li>Hitotsu, Reigi o omonzuru koto - Respect others</li>
    <li>Hitotsu, Kekki no yuu o imashimuru koto - Develop self-control and refrain from violent behaviour</li>
  </ul>
  <p>The term &quot;Hitotsu&quot; means &quot;one&quot; or &quot;first,&quot; emphasizing that each precept is equally important. These principles encourage martial artists to strive for personal growth, integrity, and respect in all aspects of life. By adhering to the dojo kun, practitioners aim to become better individuals and contribute positively to society. This holistic approach to martial arts training helps in developing not just physical skills but also mental and moral strength.</p>
  <blockquote class="blockquote">
    <p class="mb-0">The ultimate aim of karate lies not in victory nor defeat, but in the perfection of the character of its participants.</p>
    <br />
    <footer class="blockquote-footer">Gichin Funakoshi, Founder of Shotokan Karate</footer>
  </blockquote>
  <p>
    For more tips on pronunciation and translation, see <a href="https://cambridgekaratedojo.com/bow-dojo-kun/">Cambridge Karate Dojo's page on the dojo kun</a>
  </p>

