---
title: Training times and locations
layout: base.njk
description: We train on Wednesday evenings at The Cabin, Northstowe. Lessons are an hour long and start at 1830. Please be 5 minutes early for your first lesson
---
<h1>Northstowe Karate Club - When and where</h1>
<p>
We traing regularly on Wednesdays at <a href="https://maps.app.goo.gl/wXcMAGknwyPFEgMp6">The Cabin, Northstowe</a> between 1830-1930. Please register your interest by <a href="/contact/">contacting us</a> and arrive at least 5 minutes early to register if it's your first lesson so you can register.
</p>

<h2>Recent and Upcoming Sessions</h2>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="col"> Time and Date</th>
      <th scope="col"> Location </th>
      <th scope="col"> Notes </th>
    </tr>
    <tr>
      <td>Wednesday  28th August    1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  4th  September 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  11th  September 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  18th  September 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  25th  September 1830-1930</td>
      <td>The Cabin</td>
      <td>Limited space, please <a href="/contact">contact</a>  us to pre-book</td>
    </tr>
    <tr>
      <td>Wednesday  2nd  October 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  9th  October 1830-1930</td>
      <td>The Cabin</td>
      <td>Limited space, please <a href="/contact">contact</a>  us to pre-book</td>
    </tr>
    <tr>
      <td>Wednesday  16th  October 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  23rd  October 1830-1930</td>
      <td>The Cabin</td>
      <td>Limited space, please <a href="/contact">contact</a>  us to pre-book</td>
    </tr>
    <tr>
      <td>Wednesday  30th  October 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  6th   November 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  13th  November 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>Locations</h2>
<h3>The Cabin</h3>
<p>
The Cabin, 1 The Green, Northstowe, Cambridge, CB24 1FD
</p>
<p>
<a href="https://maps.app.goo.gl/Tb3WmrswjKuRAPVj7">The Cabin</a> is Northstowe's temporary community centre. There's parking available on site. <a href="https://maps.app.goo.gl/9VmpBHHxhV7VAbLq9">Longstanton park and ride</a> is a 7 minute walk away and <a href="https://maps.app.goo.gl/CMxjFnhDTKZ8YbDB6">Cambridge North</a> train station is a 16 minute drive away .
</p>
