---
title: Northstowe Karate Club | Training times and locations
layout: base.njk
description: We train on Wednesday evenings at The Cabin, Northstowe. Lessons are an hour long and start at 1830. Please be 5 minutes early for your first lesson
---
<h1>Training - When and where</h1>
<p>
Northstowe Karate Club holds training sessions on Wednesdays at <a href="https://maps.app.goo.gl/wXcMAGknwyPFEgMp6">The Cabin, Northstowe</a> on the outskirts of Cambridge between 1830-1930. Please register your interest by <a href="/contact/">contacting us</a>. Please arrive at least 5 minutes early to register if it's your first lesson.
</p>

<h2>Upcoming Sessions</h2>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="col"> Time and Date</th>
      <th scope="col"> Location </th>
      <th scope="col"> Notes </th>
    </tr>
    <tr>
      <td>Wednesday  21st August    1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  28th August    1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  4th  September 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  11th  September 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  18th  September 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  25th  September 1830-1930</td>
      <td>The Cabin</td>
      <td>Limited space, please <a href="/contact">contact</a>  us to pre-book</td>
    </tr>
    <tr>
      <td>Wednesday  2nd  October 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  9th  October 1830-1930</td>
      <td>The Cabin</td>
      <td>Limited space, please <a href="/contact">contact</a>  us to pre-book</td>
    </tr>
    <tr>
      <td>Wednesday  16th  October 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  23rd  October 1830-1930</td>
      <td>The Cabin</td>
      <td>Limited space, please <a href="/contact">contact</a>  us to pre-book</td>
    </tr>
    <tr>
      <td>Wednesday  30th  October 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  6th   November 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
    <tr>
      <td>Wednesday  13th  November 1830-1930</td>
      <td>The Cabin</td>
      <td></td>
    </tr>
  </tbody>
</table>

<h2>Locations</h2>
<h3>The Cabin</h3>
The Cabin, 1 The Green, Northstowe, Cambridge, CB24 1FD (<a href="https://maps.app.goo.gl/Tb3WmrswjKuRAPVj7">map</a>) is Northstowe's temporary community centre. There's parking available on site. Longstanton park and ride (<a href="https://maps.app.goo.gl/9VmpBHHxhV7VAbLq9">map</a>) is a 7 minute walk away.
