---
title: Training Details
layout: base.njk
description: Northstowe Karate Club trains on Wednesdays at The Cabin, Northstowe 1830-1930.
---
<h2>When and where</h2>
<p>
From Wednesday 3rd July 2024, training will be held at <a href="https://maps.app.goo.gl/wXcMAGknwyPFEgMp6">The Cabin</a> 1830-1930. Please register your interest by <a href="/contact/">contacting us</a>.
</p>

<h3>Upcoming Sessions</h3>


<table class="table table-bordered">
  <tbody>
  <tr>
    <th scope="col"> Time and Date</th>
    <th scope="col"> Location </th>
  </tr>
    <tr>
      <td>Wednesday  31st July      1830-1930</td>
      <td>The Cabin</td>
    </tr>
    <tr>
      <td>Wednesday  7th  August    1830-1930</td>
      <td>The Cabin</td>
    </tr>
    <tr>
      <td>Wednesday  14th August    1830-1930</td>
      <td>The Cabin</td>
    </tr>
    <tr>
      <td>Wednesday  21st August    1830-1930</td>
      <td>The Cabin</td>
    </tr>
    <tr>
      <td>Wednesday  28th August    1830-1930</td>
      <td>The Cabin</td>
    </tr>
    <tr>
      <td>Wednesday  4th  September 1830-1930</td>
      <td>The Cabin</td>
    </tr>
  </tbody>
</table>

