---
layout: base.njk
title: Latest news and updates form Northstowe Karate Club
description: Find out the latest news regarding Northstowe Karate Club including recent lesson summaries, upcoming events and karate terminology used during lessons.
---
<h1>Recent Posts</h1>
View our 5 most recent posts here:

{% set atPost = 0 %}
<ul>
{%- for post in collections.blog_post | reverse -%}
{% if atPost < 5 %}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{% set atPost = atPost + 1 %}
{% endif %}
{%- endfor -%}
</ul>

<p>
<a href="./all/">All posts</a>
</p>
