---
layout: base.njk
title: Instructors  
description: Simon Apen-Sadler, the chief instructor of Northstowe Karate Club has over 20 years of experience in Shotokan Karate and is currently a 4th dan black belt with the JKA.
---
<h1>Instructors</h1>

<h2>Simon Apen-Sadler</h2>
{% image "instructors/image.png", "Simon Apen-Sadler, in kamae position before his 4th dan grading", "instructor" %}
<p>
Simon Apen-Sadler has over 20 years experience in Shotokan Karate and started training at 8 years old. He is currently a 4th Dan Black Belt with the <a href="https://jka.or.jp/en">JKA</a>. He continues to train regularly at <a href="https://cambridgekaratedojo.com">Cambridge Karate Club</a> with Sensei Ken Hori.
</p>
<p>
In April 2024, he travelled to Tokyo and Okinawa, to train with some of JKA's top instructors as well as traditional Okinawan karate masters.
</p>
<p>
He previously trained under Jim Lewis with the KWF and the SKA under Greg Durant.
</p>

<h3>Certifications</h3>
<p>
<ul>
<li>
Fully Enhanced DBS Certification
<li>
D Grade Instructor, Judge and Examiner (KWF)
</li>
<li>
BMABA Level 1 Instructor Award
</li>
</ul>
</p>


<h3>Competition Results</h3>
<p>
<ul>
<li>
2016 KWF England Nationals Team Kata Gold Medallist Imperial College Shotokan Karate Club
<li>
2013-2014 British University and Colleges Sport Team Kata Bronze Medallist, Imperial College Shotokan Karate Club
</li>
<li>
2012 KWF England U21 Kumite Gold Medallist
</li>
</ul>
</p>
