---
layout: base.njk
title: Instructors  
description: Simon Apen-Sadler has over 20 years of experience in Shotokan Karate and is currently a 4th dan black belt.
---
<h2>Instructors</h2>

<h3>Simon Apen-Sadler</h3>
{% image "instructors/image.jpg", "Simon Apen-Sadler, in kamae position before his 4th dan grading", "instructor-simon" %}
<p>
Simon Apen-Sadler has over 20 years experience in Shotokan Karate and started training at 8 years old. He is currently a 4th Dan Black Belt with the <a href="https://jka.or.jp/en">JKA</a>. He continues to train regularly at <a href="https://cambridgekaratedojo.com">Cambridge Karate Club</a> with Sensei Ken Hori.
</p>
<p>
In April 2024, he travelled to Tokyo and Okinawa, to train with some of JKA's top instructors as well as traditional Okinawan karate masters.
</p>
<p>
He previously trained under Jim Lewis with the KWF and the SKA under Greg Durant.
</p>

<h4>Certifications</h4>
<p>
<ul>
<li>
Fully Enhanced DBS Certification
<li>
D Grade Instructor, Judge and Examiner (KWF)
</li>
<li>
BMABA Level 1 Instructor Award
</li>
</ul>
</p>


<h4>Competition Results</h4>
<p>
<ul>
<li>
2016 KWF England Nationals Team Kata Gold Medallist Imperial College Shotokan Karate Club
<li>
2013-2014 British University and Colleges Sport Team Kata Bronze Medallist, Imperial College Shotokan Karate Club
</li>
<li>
2012 KWF England U21 Kumite Gold Medallist
</li>
</ul>
</p>

<h4>BMABA Register</h4>
Simon is registered with the BMABA (British Martial Arts and Boxing Association). You can verify his details on their <a href="https://bmaba.org.uk/verify/311040000033893023-2/#1583587250714-fe8d9051-0810">website</a>.
