---
layout: base.njk
title: Northstowe Karate Club historical blog posts
description: Read all of our blog posts and information regarding Northstowe Karate Club including lesson summaries, previous events and terminology used during lessons.
---
<h1>All blog posts</h1>

{%- for post in collections.blog_post | reverse -%}
<h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
<p>
{{ post.data.description }}
</p>

{%- endfor -%}

