---
layout: base.njk
title: Northstowe Karate Club - All blog posts
description: Read all of our blog posts regarding Northstowe Karate Club including lesson summaries, previous events and terminology used during lessons.
date: "git Last Modified"
priority: 0.3
changeFrequency: weekly
---
<h1>All blog posts</h1>

<ul>
{%- for post in collections["blog-post"] | reverse -%}
<li>
  <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
  <ul>
    <li>
      {{ post.data.description }}
    </li>
  </ul>
</li>
{%- endfor -%}
</ul>
<h2>View posts by tag</h2>
  <ul>
  {%- for tag, tagData in collections -%}
    <li><a href="/posts/tags/{{ tag }}/">{{ tag }}</a></li>
  {%- endfor -%}
  </ul>
