---
layout: base.njk
title: Kihon and Heian Kata
description: Kihon kata (taikyoku shodan) is the first shotokan kata. The next 5 kata are heian from shodan to godan.
date: "git Last Modified"
priority: 0.4
changeFrequency: yearly
---
<h1>Kihon & Heian Kata</h1>
<p>
Kihon kata (basic kata) also known as TAIKYOKU SHODAN, is the first kata you will study. The next 5 kata are Heian kata, heian meaning peaceful mind, and gradually introduce new techniques and concepts.
</p>

<h2>Kihon Kata - Taikyoku Shodan</h2>
<p>
Kihon kata, also known as Taikyoku Shodan, is the first kata and consists of 20 moves with a kiai on move 8 and 16. Moves 9 and 17 are particularly complex as they involve a 270 degree turn.
</p>

<div class="video-container">
<iframe class="video" src="https://www.youtube.com/embed/jJsSGHYF7_s?si=7DkmVakEgDTbhFrd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h2>Heian Shodan</h2>
<p>
Heian Shodan, similar in shape to heian shodan consists of 21 moves with a kiai on move 9 and 17. This kata introduces shuto uke and kokutsu dachi.
</p>

<div class="video-container">
<iframe class="video" src="https://www.youtube.com/embed/O0ndtpxDU8s?si=62jk9cbilBibkZcD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h2>Heian Nidan</h2>
<p>
Heian Nidan, the second of the heian kata, consists of 26 moves, with kiai on moves 11 and 26. This kata introduces mae-geri and uchi uke.
</p>

<div class="video-container">
<iframe class="video" src="https://www.youtube.com/embed/4lVVkKel4dc?si=VdjiBGem9UcNgTqr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h2>Heian Sandan</h2>
<p>
Heian Sandan is the third and shortest heian kata consists of only 20 moves with kiai on moves 10 and 20. This kata introduces kiba dachi.
</p>

<div class="video-container">
<iframe class="video" src="https://www.youtube.com/embed/CmUmAdxfO_o?si=QQN5iB9pNj3xwKWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h2>Heian Yondan</h2>
<p>
Heian Yondan is the 4th heian kata and consists of 27 moves with kiai on moves 13 and 25. This kata introduces changes of speed including both fast and slow movements.
</p>

<div class="video-container">
<iframe class="video" src="https://www.youtube.com/embed/TtkkIxL29po?si=oMCBlJAf2Krdg8F2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<h2>Heian Godan</h2>
<p>
Heian Godan consists of 23 moves with kiai on moves 12 and 19. This kata introduces more complex techniques including manji uke.
</p>

<div class="video-container">
<iframe class="video" src="https://www.youtube.com/embed/A2wBlKGn2lA?si=CjZK-YWRCRnd5p3B" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

